html,body { height: 100% }

body { font-family: "Helvetica", "Arial", sans-serf; text-align: center }

h1 {font-weight: bold; font-size: 2em}
h2 {font-weight: bold; font-size: 8em}
h3 {font-weight: normal; color: rgb(130,130,130); font-size: 2em}
h4 {font-weight: normal; color: rgb(97, 97, 97); font-size: 1em}
a {text-decoration: none; color: rgb(130,130,130)}

.footer {position: fixed; bottom:0; width: 100%; font-size: 1em; color: rgb(130,130,130);}

.left {float: left; padding: 1em;}
.right {float: right; padding: 1em;}

.status-4 {color: rgb(166,24,24)}
.status-3 {color: rgb(166,24,24)}
.status-2 {color: rgb(221,131,38)}
.status-1 {color: rgb(194,200,31)}
.status-0 {color: rgb(68,154,31)}

.loading {
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    width: 0.5em;
    height: 0.5em;
    background-color: rgba(0, 208, 255, 0.5);
    border-radius: 50%;
    z-index: 9999;
}