[Unit]
Description=Toilet Status
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/Toilet-Door-Sensor/
ExecStart=/home/ubuntu/.local/bin/gunicorn --worker-class gevent -b 0.0.0.0:6969 app:app

[Install]
WantedBy=multi-user.target
