<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://picocss.com/examples/bootstrap-grid/css/pico-bootstrap-grid.min.css">
        <link rel="stylesheet" href="static/style.css"/>
        <title>Is there anyone in the toilet right now?</title>
    </head>
    <body>
        <main class="container">
            <h1 class="title">Is there anyone in the toilet right now?</h1>
                <h2 class="status {{color}}">{{status}}</h2>
                <h3 class="subtitle"><i>{{subtext}}</i></h3>
                <h4 class="subtitle">{{wait_message | safe}}</h4>
            </div>
        </main>
        <footer>
            <p class="footer">
                (door was {{ 'opened' if (status == 'No') else 'closed' }} at {{timestamp}}{{ minutes_ago }})
            </p>
        </footer>

        <script>
            setTimeout(function(){ location.reload(); }, 10000);
        </script>
    </body>
</html>